Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

fix(database): add port to baku s3 url
  kubernetes/core/salamandre/base/database/cnpg-cluster.yaml
Labels: cluster/salamandre

fix(sensors): correct sensors configuration for fancontrol
  ansible/roles/salamandre_sensors/files/fancontrol/it8686
  ansible/roles/salamandre_sensors/files/modules/system.conf
  ansible/roles/salamandre_sensors/tasks/main.yaml
Labels: none

chore(services): remove third-apps app
  kubernetes/services/salamandre/production/adguard-proxy/certificate.yaml
  kubernetes/services/salamandre/production/adguard-proxy/dnsendpoint.yaml
  kubernetes/services/salamandre/production/adguard-proxy/endpoint.yaml
  kubernetes/services/salamandre/production/adguard-proxy/ingress.yaml
  kubernetes/services/salamandre/production/adguard-proxy/kustomization.yaml
  kubernetes/services/salamandre/production/adguard-proxy/middleware.yaml
  kubernetes/services/salamandre/production/adguard-proxy/namespace.yaml
  kubernetes/services/salamandre/production/adguard-proxy/service.yaml
  kubernetes/services/salamandre/production/adguard-proxy/tlsoptions.yaml
Labels: cluster/salamandre

feat(apps): define resources for apps
  kubernetes/core/common/base/external-secrets/helm-release.yaml
  kubernetes/core/common/base/reloader/helm-release.yaml
  kubernetes/core/common/base/traefik/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/helm-release.yaml
  kubernetes/core/salamandre/base/vault/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/helm-release.yaml
  kubernetes/core/salamandre/production/external-dns/helm-release.yaml
  kubernetes/services/common/base/monitoring/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/deployment.yaml
  kubernetes/services/salamandre/base/vaultwarden/deployment.yaml
Labels: cluster/salamandre

fix(traefik): use web and websecure as default instead of all
  kubernetes/core/common/base/traefik/helm-release.yaml
Labels: none

fix(renovate): correctly split fluxcd updates
  .github/renovate/groups.json5
Labels: none

feat(apps): adjust resources for apps
  kubernetes/core/common/base/external-secrets/helm-release.yaml
  kubernetes/core/common/base/kube-system/helm-release.yaml
  kubernetes/core/common/base/reloader/helm-release.yaml
  kubernetes/core/common/base/traefik/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/helm-release.yaml
  kubernetes/core/salamandre/base/database/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/helm-release.yaml
  kubernetes/core/salamandre/production/external-dns/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/helm-release.yaml
Labels: cluster/salamandre

fix(ansible): correctly setup zitadel
  ansible/roles/apps_zitadel/tasks/main.yaml
Labels: none

fix(ansible): correctly setup zitadel
  ansible/roles/apps_zitadel/tasks/main.yaml
Labels: none

fix(external-secrets): use dedicated service account for vault auth
  ansible/roles/apps_vault/tasks/eso_access.yaml
  kubernetes/core/salamandre/base/external-secrets/app/kustomization.yaml
  kubernetes/core/salamandre/base/external-secrets/app/rbac.yaml
  kubernetes/core/salamandre/base/external-secrets/app/vault-store.yaml
Labels: cluster/salamandre

fix(nextcloud): use only 1 pvc for nextcloud
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
Labels: cluster/salamandre

fix(nexcloud): prevent infinite redirect
  kubernetes/services/salamandre/base/nextcloud/app/traefik-middlewares/redirects.yaml
Labels: cluster/salamandre

fix(ansible): correctly deploy backup scripts
  ansible/backup.yaml
  ansible/roles/backup/tasks/main.yaml
Labels: none

feat(backup): backup database when its run by user
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(external-secrets): use right service account on baku
  kubernetes/core/baku/base/external-secrets/app/vault-store.yaml
Labels: cluster/baku

fix(backup): prevent incremental when missing snapshot
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): match hours for daily backup
  ansible/roles/backup/tasks/scripts.yaml
  kubernetes/core/salamandre/base/database/cluster/scheduledbackup.yaml
Labels: cluster/salamandre

fix(backup): correctly scoped variables in loop
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): ensure snapshot exist before test it
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): prevent dump database if is not first day of week in cron mode
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): redirect minio error to correct log
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): correctly execute kubectl commands
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): correctly redirect stderr to log file
  ansible/roles/backup/files/scripts/backup.sh
  ansible/roles/backup/tasks/scripts.yaml
Labels: none

fix(backup): correctly name sql dump
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): correctly extract date from sql dump
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(nextcloud): move logs out ouf backuped data
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/deployment.yaml
Labels: cluster/salamandre

refactor: replace vagrant by ansible tasks
  .gitignore
  .vscode/settings.json
  Makefile
  ansible/inventories/dev/group_vars/all.yaml
  ansible/inventories/dev/host_vars/localhost.yaml
  ansible/requirements.txt
  ansible/roles/common/templates/k3s_config.j2.yaml
  ansible/roles/kvm_destroy/meta/argument_specs.yaml
  ansible/roles/kvm_destroy/meta/main.yml
  ansible/roles/kvm_destroy/tasks/main.yaml
  ansible/roles/kvm_provision/defaults/main.yaml
  ansible/roles/kvm_provision/meta/argument_specs.yaml
  ansible/roles/kvm_provision/meta/main.yml
  ansible/roles/kvm_provision/tasks/main.yaml
  ansible/roles/kvm_provision/templates/command.sh.j2
  ansible/roles/kvm_provision/templates/network-config.yaml.j2
  ansible/roles/kvm_provision/templates/user-data.yaml.j2
  ansible/templates/vms/net-template.xml.j2
  ansible/templates/vms/pool-template.xml.j2
  ansible/vms_create.yaml
  ansible/vms_destroy.yaml
  docs/installation/development-sandbox.md
  docs/references/architecture/repository.md
  scripts/_ansible-vm.sh
  vagrant/Vagrantfile
Labels: none

fix(ansible): right sa for eso vault access
  ansible/roles/apps_vault/tasks/eso_access.yaml
Labels: none

fix(ansible): prevent deploy backup cron on dev env
  ansible/roles/backup/tasks/scripts.yaml
Labels: none

chore(kubernetes): remove useless values
  kubernetes/core/common/base/external-secrets/app/helm-release.yaml
  kubernetes/core/common/base/traefik/app/helm-release.yaml
Labels: none

chore(monitoring): update to last version
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-availability.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-histogram.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-slos.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-prometheus-node-recording.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-resources.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-system-apiserver.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-system-kubelet.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/vm-health.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/vmagent.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

fix(nextcloud): use right pvc name for tweak
  kubernetes/services/salamandre/dev/nextcloud/app/kustomization.yaml
Labels: cluster/salamandre

fix(nextcloud): replicate new volume to dev env
  kubernetes/services/salamandre/dev/nextcloud/app/helm-release-patch.yaml
Labels: cluster/salamandre

fix(nextcloud): move log outside data
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/dev/nextcloud/app/helm-release-patch.yaml
Labels: cluster/salamandre

fix(crd): correctly handle renovate and use new version of victoriametrics
  kubernetes/crds/common/kustomization.yaml
Labels: none

fix(monitoring): remove invalid property from rules
  kubernetes/services/baku/base/monitoring/vm-stack/rules/vmagent.yaml
Labels: cluster/baku

chore(grafana): remove useless variables
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
Labels: cluster/baku

chore(grafana): update dashboards
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_namespaces.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_pods.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/volumes_cluster.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/minio.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/nodeexporter.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/traefik.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmagent.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmalert.json
Labels: cluster/baku

fix(traefik): use new syntax
  kubernetes/core/common/base/traefik/app/helm-release.yaml
Labels: none

chore(grafana): remove useless variables
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
Labels: cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"
