Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

fix(renovate): use right config
  .github/renovate.json5
  .github/renovate/clusters.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  ansible/requirements.txt
Labels: none

chore(renovate): remove useless sign-off
  .github/renovate.json5
Labels: none

chore(kubernetes): update schema according to new apiversion
  kubernetes/base/salamandre/dev/source-codecentric.yaml
  kubernetes/base/salamandre/production/source-cm-webhook-ovh.yaml
  kubernetes/charts/baku/grafana.yaml
  kubernetes/charts/baku/minio.yaml
  kubernetes/charts/common/external-secrets.yaml
  kubernetes/charts/common/openebs-zfslocalpv.yaml
  kubernetes/charts/common/stakater.yaml
  kubernetes/charts/common/traefik.yaml
  kubernetes/charts/common/victoriametrics.yaml
  kubernetes/charts/salamandre/cloudnative-pg.yaml
  kubernetes/charts/salamandre/external-dns.yaml
  kubernetes/charts/salamandre/forgejo.yaml
  kubernetes/charts/salamandre/jetstack.yaml
  kubernetes/charts/salamandre/nextcloud.yaml
  kubernetes/charts/salamandre/zitadel.yaml
  kubernetes/core/common/base/external-secrets/helm-release.yaml
  kubernetes/core/common/base/kube-system/helm-release.yaml
  kubernetes/core/common/base/reloader/helm-release.yaml
  kubernetes/core/common/base/traefik/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/helm-release.yaml
  kubernetes/core/salamandre/base/database/helm-release.yaml
  kubernetes/core/salamandre/base/vault/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/helm-release.yaml
  kubernetes/core/salamandre/production/cert-manager/ovh/helm-release.yaml
  kubernetes/core/salamandre/production/external-dns/helm-release.yaml
  kubernetes/services/baku/base/minio/helm-release.yaml
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/common/base/monitoring/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/helm-release.yaml
  kubernetes/services/salamandre/dev/mailhog/helm-release.yaml
Labels: cluster/salamandre, cluster/baku

fix(renovate): handle makefile versions
  .github/renovate/customManagers.json5
Labels: none

fix(backup): right handle backup snapshot
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

test(backup): install faketime for tests
  ansible/roles/common/tasks/apt.yaml
Labels: none

fix(ansible): use new repository url
  ansible/group_vars/all.yaml
Labels: none

chore(ansible): right tags on secrets
  ansible/tasks/s_apps/secrets.yaml
Labels: none

fix(ansible): sync external-secrets on right server
  ansible/k3s_configure.yaml
Labels: none

refactor(ansible): force ssh key instead of change password
  ansible/roles/common/tasks/ssh_user.yaml
  ansible/roles/common/templates/ssh.conf.j2
Labels: none

fix(ansible): add default password for user
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/common/tasks/ssh_user.yaml
Labels: none

fix(ansible): install sudo package
  ansible/roles/common/tasks/apt.yaml
Labels: none

chore(ansible): declare more clearly how to customize k3s domain
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  docs/installation/production/prerequisites.md
Labels: none

fix(ansible): try prevent error with it87
  ansible/roles/salamandre_sensors/handlers/main.yaml
Labels: none

revert(ansible): remove useless ssh password
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/common/tasks/ssh_user.yaml
Labels: none

fix: use consistent production name
  Makefile
  README.md
  ansible/inventories/.gitignore
  ansible/inventories/production/group_vars/all.yaml
  ansible/inventories/production/host_vars/baku.yaml.tpl
  ansible/inventories/production/host_vars/salamandre.yaml.tpl
  ansible/inventories/production/hosts
  docs/installation/post-installation.md
  scripts/gen-credentials.sh
Labels: none

chore(ansible): remove useless file
  ansible/tasks/b_vault.yaml
Labels: none

fix(external-secrets): deploy in right namespace on baku
  kubernetes/core/baku/base/external-secrets/kustomization.yaml
Labels: cluster/baku

refactor(ansible): use bash shell for new users
  ansible/roles/common/tasks/ssh_user.yaml
Labels: none

chore(git): update gitignore
  .gitignore
Labels: none

refactor(ansible): use loop instead duplicate task for oidc
  ansible/tasks/s_apps/oidc.yaml
Labels: none

fix(ansible): remove useless sync on salamandre
  ansible/k3s_configure.yaml
Labels: none

chore(ansible): remove useless variable for flux
  ansible/templates/flux_vars.yaml.j2
  kubernetes/config/common/cluster-secrets.example.yaml
Labels: none

fix(cert-manager-ovh): use right key name
  kubernetes/core/salamandre/production/cert-manager/ovh/helm-release.yaml
Labels: cluster/salamandre

fix(ansible): don't specify ca on production
  ansible/roles/vault_oidc/tasks/main.yaml
Labels: none

fix(forgejo): right template mail secret
  kubernetes/services/salamandre/base/forgejo/secrets.yaml
Labels: cluster/salamandre

fix(ansible): force define values
  ansible/tasks/s_apps/oidc.yaml
Labels: none

fix(grafana): deploy on right namespace
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
Labels: cluster/baku

fix(ansible): create grafana oidc on right cluster
  ansible/tasks/s_apps/oidc.yaml
Labels: none

chore(kubernetes): use static values for chart references
  kubernetes/charts/baku/grafana.yaml
  kubernetes/charts/baku/minio.yaml
  kubernetes/charts/common/external-secrets.yaml
  kubernetes/charts/common/openebs-zfslocalpv.yaml
  kubernetes/charts/common/stakater.yaml
  kubernetes/charts/common/traefik.yaml
  kubernetes/charts/common/victoriametrics.yaml
  kubernetes/charts/salamandre/cloudnative-pg.yaml
  kubernetes/charts/salamandre/external-dns.yaml
  kubernetes/charts/salamandre/forgejo.yaml
  kubernetes/charts/salamandre/hashicorp.yaml
  kubernetes/charts/salamandre/jetstack.yaml
  kubernetes/charts/salamandre/nextcloud.yaml
  kubernetes/charts/salamandre/zitadel.yaml
  kubernetes/core/common/base/external-secrets/helm-release.yaml
  kubernetes/core/common/base/reloader/helm-release.yaml
  kubernetes/core/common/base/traefik/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/helm-release.yaml
  kubernetes/core/salamandre/base/database/helm-release.yaml
  kubernetes/core/salamandre/base/vault/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/helm-release.yaml
  kubernetes/core/salamandre/production/cert-manager/ovh/helm-release.yaml
  kubernetes/core/salamandre/production/external-dns/helm-release.yaml
  kubernetes/services/baku/base/minio/helm-release.yaml
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/helm-release.yaml
  kubernetes/services/salamandre/dev/mailhog/helm-release.yaml
Labels: cluster/salamandre, cluster/baku

fix(renovate): add flux-system ressources and helm charts
  .github/renovate.json5
Labels: none

fix(renovate): use verbose version for container images
  kubernetes/services/baku/base/minio/helm-release.yaml
  kubernetes/services/common/base/monitoring/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
  kubernetes/services/salamandre/base/vaultwarden/deployment.yaml
Labels: cluster/salamandre, cluster/baku

fix(kubernetes): correctly enable mail tls
  kubernetes/core/salamandre/base/zitadel/secrets.yaml
  kubernetes/services/salamandre/base/forgejo/secrets.yaml
  kubernetes/services/salamandre/base/vaultwarden/secrets.yaml
Labels: cluster/salamandre

chore(kubernetes): branding forgejo and nextcloud
  kubernetes/services/salamandre/base/forgejo/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/helm-release.yaml
Labels: cluster/salamandre

perf(nextcloud): increase opcache and optimize preview
  kubernetes/services/salamandre/base/nextcloud/helm-release.yaml
Labels: cluster/salamandre

fix(renovate): track crds versions
  .github/renovate.json5
Labels: none

chore(monitoring): update helm-values
  kubernetes/services/common/base/monitoring/helm-release.yaml
Labels: none

revert(deps): don't update flux
  kubernetes/base/common/flux-system/gotk-components.yaml
Labels: none

fix(ansible): keep allow password on dev env
  ansible/roles/common/templates/ssh.conf.j2
Labels: none

chore(renovate): remove useless branch prefix
  .github/renovate/clusters.json5
Labels: none
