Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

fix(backup): correctly delete exported snapshot files
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

chore(backup): fix some spellcheck
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

Update README.md - development-sandbox.md path
  README.md
Labels: none

Update README.md - typo
  README.md
Labels: none

Update README.md - production docs path
  README.md
Labels: none

docs(readme): fix doc links (#66)
  README.md
Labels: none

docs: add documentation for troubleshooting (#58)
  docs/README.md
  docs/references/troubleshooting.md
Labels: none

fix: increase waiting time in test-cluster
  Makefile
Labels: none

fix: virt-install need to be run as root
  ansible/roles/kvm_provision/tasks/main.yaml
Labels: none

fix(credentials): correct create files
  docs/installation/development-sandbox.md
  scripts/gen-credentials.sh
Labels: none

fix(nextcloud): increase imaginary resources
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

fix(dev): correct setup (#68)
  Makefile
  ansible/roles/kvm_provision/tasks/main.yaml
  docs/installation/development-sandbox.md
  scripts/gen-credentials.sh
Labels: none

refactor(backup): migrate script to cronjob
  .github/renovate/groups.json5
  .github/workflows/build-backup-image.yaml
  ansible/backup.yaml
  ansible/roles/backup/defaults/main.yaml
  ansible/roles/backup/files/scripts/backup.sh
  ansible/roles/backup/files/scripts/restore.sh
  ansible/roles/backup/files/snapshot_template.yaml
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
  ansible/roles/backup/templates/mc_config.json.j2
  ansible/site.yaml
  docs/references/backup-restore.md
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/vault/app/helm-release.yaml
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
  kubernetes/services/salamandre/base/backup/app/rbac.yaml
  kubernetes/services/salamandre/base/backup/app/secret.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
  kubernetes/services/salamandre/base/backup/kustomization.yaml
  kubernetes/services/salamandre/base/backup/namespace.yaml
  kubernetes/services/salamandre/base/backup/readme.md
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/pvc.yaml
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
  kubernetes/services/salamandre/dev/backup/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
Labels: cluster/salamandre

chore(backup): use generated image
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

refactor(crds): move external crds locally
  .github/renovate/customManagers.json5
  .github/workflows/update-crds.yaml
  kubernetes/crds/common/monitoring/kustomization.yaml
  kubernetes/crds/common/monitoring/operator.crd.yaml
  kubernetes/crds/common/monitoring/prometheus.crd.yaml
  kubernetes/crds/salamandre/cert-manager.crd.yaml
  kubernetes/crds/salamandre/cert-manager/kustomization.yaml
  kubernetes/crds/salamandre/cloudnative-pg/kustomization.yaml
  kubernetes/crds/salamandre/cloudnative-pg/plugin-barman-cloud.crd.yaml
  kubernetes/crds/salamandre/kustomization.yaml
  scripts/update-crds.sh
Labels: cluster/salamandre

refactor(database): use official helm chart for barman
  kubernetes/core/salamandre/base/database/app/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/certificate-issuer.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/client-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/configmap.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/deployment.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/rbac.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/server-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/service.yaml
Labels: cluster/salamandre

refactor(database): use official helm chart for barman (#75)
  kubernetes/core/salamandre/base/database/app/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/certificate-issuer.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/client-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/configmap.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/deployment.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/rbac.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/server-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/service.yaml
Labels: cluster/salamandre

fix(ansible): use new way to access to facts
  ansible/inventories/dev/host_vars/localhost.yaml
  ansible/roles/apps_zitadel/tasks/main.yaml
  ansible/roles/common/tasks/k3s.yaml
  ansible/roles/common/tasks/zfs.yaml
  ansible/tasks/b_apps/secrets_sync.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
Labels: none

refactor(crds): use right tag for external-dns
  kubernetes/crds/salamandre/external-dns/source.yaml
Labels: cluster/salamandre

fix(zitadel): update image tag and add renovate on it
  .github/renovate/groups.json5
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

chore(grafana): remove invalid todo
  kubernetes/services/baku/base/monitoring/grafana/secrets.yaml
Labels: cluster/baku

chore(backup): use generated image
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

refactor(backup): migrate script to cronjob
  .github/renovate/groups.json5
  .github/workflows/build-backup-image.yaml
  ansible/backup.yaml
  ansible/roles/backup/defaults/main.yaml
  ansible/roles/backup/files/scripts/backup.sh
  ansible/roles/backup/files/scripts/restore.sh
  ansible/roles/backup/files/snapshot_template.yaml
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
  ansible/roles/backup/templates/mc_config.json.j2
  ansible/site.yaml
  docs/references/backup-restore.md
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/vault/app/helm-release.yaml
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
  kubernetes/services/salamandre/base/backup/app/rbac.yaml
  kubernetes/services/salamandre/base/backup/app/secret.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
  kubernetes/services/salamandre/base/backup/kustomization.yaml
  kubernetes/services/salamandre/base/backup/namespace.yaml
  kubernetes/services/salamandre/base/backup/readme.md
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/pvc.yaml
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
  kubernetes/services/salamandre/dev/backup/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
Labels: cluster/salamandre

fix(backup): right label value
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/vault/app/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/pvc.yaml
Labels: cluster/salamandre

docs(backup): add database command
  docs/references/backup-restore.md
Labels: none

fix(backup): right create webhook alert
  kubernetes/services/salamandre/base/backup/app/secret.yaml
Labels: cluster/salamandre

fix(backup): correctly suspend conjob
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
Labels: cluster/salamandre

fix(ansible): add missing backup secret sync
  ansible/tasks/s_apps/secrets_sync.yaml
Labels: none

fix(backup): add CA on dev env
  kubernetes/services/salamandre/dev/backup/app/ca-tls.yaml
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
Labels: cluster/salamandre

fix(backup): use right restart policy
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

fix(backup): correct a bunch of errors
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

refactor(backup): replace Minio with SeaweedFS
  ansible/tasks/b_apps/secrets.yaml
  kubernetes/services/baku/base/minio/app/helm-release.yaml
  kubernetes/services/baku/base/minio/app/secrets.yaml
  kubernetes/services/baku/base/minio/readme.md
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-repository.yaml
  kubernetes/services/baku/base/seaweedfs/app/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/app/secrets.yaml
  kubernetes/services/baku/base/seaweedfs/ks.yaml
  kubernetes/services/baku/base/seaweedfs/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/namespace.yaml
  kubernetes/services/baku/base/seaweedfs/readme.md
  kubernetes/services/baku/dev/kustomization.yaml
  kubernetes/services/baku/dev/minio/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/kustomization.yaml
  kubernetes/services/baku/dev/seaweedfs/kustomization.yaml
  kubernetes/services/baku/production/kustomization.yaml
Labels: cluster/baku

chore(backup): remove lint warn on notification function
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): allow run even if no webhook defined
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

chore(backup): reduce history and backoff on dev
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
Labels: cluster/salamandre

fix(backup): disable flux substitute on script
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
Labels: cluster/salamandre

feat(backup): add possibility to use custom date
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  scripts/manual-backup.sh
Labels: cluster/salamandre

chore(backup): use bash table instead of eval for zfs send
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): allow error on delete snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): correctly handle find snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre
