Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

chore(backup): use bash table instead of eval for zfs send
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

docs(backup): clarify backup process
  docs/references/backup-restore.md
Labels: none

fix(backup): use correct permissions
  kubernetes/services/salamandre/base/backup/app/rbac.yaml
Labels: cluster/salamandre

chore(backup): simplify find prune snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

feat(backup): allow force full backup and improve script
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  scripts/manual-backup.sh
Labels: cluster/salamandre

docs(backup): add available environment variables in readme
  kubernetes/services/salamandre/base/backup/readme.md
Labels: cluster/salamandre

chore(backup): prevent invalid command on label selector with space
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(openbao): enable backup
  kubernetes/core/salamandre/base/openbao/app/helm-release.yaml
Labels: cluster/salamandre

refactor(backup): migrate script to cronjob and improve it (#76)
  .github/renovate/groups.json5
  .github/workflows/build-backup-image.yaml
  ansible/backup.yaml
  ansible/roles/backup/defaults/main.yaml
  ansible/roles/backup/files/scripts/backup.sh
  ansible/roles/backup/files/scripts/restore.sh
  ansible/roles/backup/files/snapshot_template.yaml
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
  ansible/roles/backup/templates/mc_config.json.j2
  ansible/site.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
  docs/references/backup-restore.md
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/openbao/app/helm-release.yaml
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
  kubernetes/services/salamandre/base/backup/app/rbac.yaml
  kubernetes/services/salamandre/base/backup/app/secret.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
  kubernetes/services/salamandre/base/backup/kustomization.yaml
  kubernetes/services/salamandre/base/backup/namespace.yaml
  kubernetes/services/salamandre/base/backup/readme.md
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/pvc.yaml
  kubernetes/services/salamandre/dev/backup/app/ca-tls.yaml
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
  kubernetes/services/salamandre/dev/backup/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
  scripts/manual-backup.sh
Labels: cluster/salamandre

chore(backup): use stable version
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

fix(backup): right secret store
  kubernetes/services/salamandre/base/backup/app/secret.yaml
Labels: cluster/salamandre

chore(grafana): update victoriametrics dashboards
  kubernetes/services/baku/base/monitoring/grafana/dashboards/nodeexporter.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmagent.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmalert.json
Labels: cluster/baku

chore(traefik): update ports with new format
  kubernetes/core/baku/base/traefik/app/helm-release-patch.yaml
  kubernetes/core/common/base/traefik/app/helm-release.yaml
Labels: cluster/baku

fix(backup): right secret store in dev env
  kubernetes/services/salamandre/dev/backup/app/ca-tls.yaml
Labels: cluster/salamandre

fix(backup): use cp instead of pipe to transfert
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

perf(backup): define resources request
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

fix(monitoring): define resources on components and increase query limits
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

chore(monitoring): tweak resources
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
  kubernetes/services/salamandre/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/salamandre, cluster/baku

fix(backup): use restart pod instead recreate
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

feat(backup): add log file to persist it
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
  kubernetes/services/salamandre/base/backup/app/pvc.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
Labels: cluster/salamandre

chore: adjust resources
  kubernetes/base/common/flux-system/gotk-components.yaml
  kubernetes/core/salamandre/base/database/app/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/helm-release.yaml
  kubernetes/core/salamandre/base/database/cluster/barman.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

chore: Optimize storageclasses
  docs/references/storage.md
  kubernetes/core/common/base/kube-system/zfs-localpv/storage-classes.yaml
Labels: none

fix(backup): use hostpath for log instead of pvc
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
  kubernetes/services/salamandre/base/backup/app/pvc.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
Labels: cluster/salamandre

chore: Optimize storageclasses
  docs/references/storage.md
  kubernetes/core/common/base/kube-system/zfs-localpv/storage-classes.yaml
Labels: none

chore(postgres): replace storageclass
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
Labels: cluster/salamandre

chore: Optimize storageclasses (#89)
  docs/references/storage.md
  kubernetes/core/common/base/kube-system/zfs-localpv/storage-classes.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
Labels: cluster/salamandre

fix: correct too low resources
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
Labels: cluster/salamandre

fix(zitadel): make masterkey immutable
  kubernetes/core/salamandre/base/zitadel/app/secrets.yaml
Labels: cluster/salamandre

chore(crds): Update local CRDs content
  kubernetes/crds/salamandre/cloudnative-pg/plugin-barman-cloud.crd.yaml
Labels: cluster/salamandre

chore(forgejo): update to runner and fir the datasource
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
Labels: cluster/salamandre

chore(renovate): fix invalid datasource
  kubernetes/crds/common/monitoring/operator.crd.yaml
  kubernetes/crds/common/monitoring/prometheus.crd.yaml
Labels: none

fix(forgejo): update missing runner image
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
Labels: cluster/salamandre

perf(backup): use zfs compress instead of gzip
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

fix(backup): correctly find yesterday backup on database
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

feat(backup): add sending file size
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): fallback to full if incremental fail
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): add retry upload to s3
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): correctly count multiple fails
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

chore(backup): remove useless database dependency
  kubernetes/services/salamandre/base/backup/ks.yaml
Labels: cluster/salamandre

fix(backup): add waiting on existing snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre
