Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

ci(renovate): correctly split deps from kubernetes
  .github/renovate/clusters.json5
  .github/renovate/groups.json5
Labels: none

ci(renovate): don't split minor on kubernetes packages
  .github/renovate/groups.json5
Labels: none

chore(dev): wait more time for vms started
  Makefile
Labels: none

fix(ansible): right setup vm
  ansible/roles/kvm_provision/tasks/main.yaml
  ansible/roles/kvm_provision/templates/command.sh.j2
  ansible/roles/kvm_provision/templates/meta-data.yaml.j2
Labels: none

fix(ansible): right options for zfs setup
  ansible/roles/common/tasks/zfs.yaml
Labels: none

fix(ansible): use new format for webhook
  ansible/k3s_bootstrap.yaml
  ansible/templates/flux_alert.yaml.j2
Labels: none

ci(renovate): fix some packages source url
  .github/renovate.json5
  .github/renovate/changelogs.json5
  .github/renovate/packageRules.json5
Labels: none

ci(renovate): really migrate to json5
  .github/renovate/changelogs.json5
  .github/renovate/clusters.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  .vscode/settings.json
Labels: none

fix(ansible): correctly configure path
  .vscode/settings.json
Labels: none

fix(ansible): correctly configure path
  .vscode/settings.json
Labels: none

revert(minio): keep old version
  kubernetes/services/baku/base/minio/app/helm-release.yaml
Labels: cluster/baku

revert(minio): keep old version
  kubernetes/services/baku/base/minio/app/helm-release.yaml
Labels: cluster/baku

fix(ansible): correctly load vault credentials
  ansible/roles/apps_vault/tasks/auth.yaml
Labels: none

fix(ansible): correctly handle json things
  ansible/roles/apps_vault/tasks/auth.yaml
  ansible/roles/apps_zitadel/tasks/auth.yaml
Labels: none

chore(zitadel): enable ingress for new login page
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

fix(zitadel): use correct tag for setup job
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

fix(zitadel): increase memory limit
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

chore(zitadel): disable analytics
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

fix(ansible): migrate to new zitadel api
  ansible/roles/apps_zitadel/tasks/setup.yaml
Labels: none

chore(zitadel): enable ingress for new login page
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

fix(zitadel): increase memory limit
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

fix(ansible): correctly handle json things
  ansible/roles/apps_zitadel/tasks/auth.yaml
Labels: none

chore(zitadel): disable analytics
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

fix(ansible): migrate to new zitadel api
  ansible/roles/apps_zitadel/tasks/setup.yaml
Labels: none

fix(zitadel): use correct tag for setup job
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

chore(zitadel): add instance admin to admin user
  ansible/roles/apps_zitadel/handlers/main.yaml
  ansible/roles/apps_zitadel/tasks/setup.yaml
Labels: none

fix(ansible): use right name for zitadel console creds
  ansible/roles/apps_zitadel/tasks/auth.yaml
Labels: none

chore(ansible): fix most warning messages
  ansible/k3s_bootstrap.yaml
  ansible/roles/apps_zitadel/tasks/main.yaml
Labels: none

chore(ansible): use fqdn name on lookup
  ansible/k3s_bootstrap.yaml
  ansible/k3s_configure.yaml
  ansible/roles/apps_zitadel/tasks/main.yaml
  ansible/roles/kvm_provision/tasks/main.yaml
  ansible/roles/vault_oidc/tasks/main.yaml
  ansible/tasks/s_apps/secrets.yaml
  ansible/tasks/s_forgejo_runner.yaml
  ansible/templates/ca_tls.yaml.j2
  ansible/vms_create.yaml
Labels: none

fix(database): use new way to declare barman
  kubernetes/core/salamandre/base/database/app/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/certificate-issuer.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/client-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/configmap.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/deployment.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/rbac.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/server-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/service.yaml
  kubernetes/core/salamandre/base/database/cluster/barman.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/database/cluster/kustomization.yaml
  kubernetes/core/salamandre/dev/database/cluster/kustomization.yaml
  kubernetes/crds/salamandre/cloudnative-pg/kustomization.yaml
Labels: cluster/salamandre

fix(database): use new way to declare barman
  kubernetes/core/salamandre/base/database/app/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/certificate-issuer.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/client-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/configmap.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/deployment.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/kustomization.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/rbac.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/server-certificate.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/service.yaml
  kubernetes/core/salamandre/base/database/cluster/barman.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/database/cluster/kustomization.yaml
  kubernetes/core/salamandre/dev/database/cluster/kustomization.yaml
  kubernetes/crds/salamandre/cloudnative-pg/kustomization.yaml
Labels: cluster/salamandre

chore(monitoring): remove useless manual image version
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(monitoring): use new port for vmsingle
  kubernetes/services/baku/base/monitoring/grafana/datasource.yaml
Labels: cluster/baku

fix(monitoring): use new port for vmsingle
  kubernetes/services/baku/base/monitoring/grafana/datasource.yaml
Labels: cluster/baku

chore(monitoring): remove useless manual image version
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(monitoring): right selector for service scrape
  kubernetes/services/baku/base/monitoring/grafana/service-scrape.yaml
Labels: cluster/baku

fix(nextcloud): increase imaginary resources
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

docs: add documentation for troubleshooting
  docs/README.md
  docs/references/troubleshooting.md
Labels: none

chore(backup): use single method for log message
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

fix(backup): keep variables in local
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"
