Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

chore(backup): quiet commands
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

chore(backup): simplify find prune snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): use correct permissions
  kubernetes/services/salamandre/base/backup/app/rbac.yaml
Labels: cluster/salamandre

chore(backup): prevent invalid command on label selector with space
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): custom handle for database
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

docs(backup): clarify backup process
  docs/references/backup-restore.md
Labels: none

feat(backup): allow force full backup and improve script
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  scripts/manual-backup.sh
Labels: cluster/salamandre

docs(backup): add available environment variables in readme
  kubernetes/services/salamandre/base/backup/readme.md
Labels: cluster/salamandre

docs(backup): remove useless troubleshooting
  docs/references/backup-restore.md
Labels: none

feat(apps): replace Zitadel with Pocket ID
  kubernetes/config/common/kube-system/oidc-rbac.yaml
  kubernetes/core/salamandre/base/pocket-id/app/configmap.yaml
  kubernetes/core/salamandre/base/pocket-id/app/dnsendpoint.yaml
  kubernetes/core/salamandre/base/pocket-id/app/ingress.yaml
  kubernetes/core/salamandre/base/pocket-id/app/kustomization.yaml
  kubernetes/core/salamandre/base/pocket-id/app/secret.yaml
  kubernetes/core/salamandre/base/pocket-id/app/service.yaml
  kubernetes/core/salamandre/base/pocket-id/app/serviceaccount.yaml
  kubernetes/core/salamandre/base/pocket-id/app/statefulset.yaml
  kubernetes/core/salamandre/base/pocket-id/ks.yaml
  kubernetes/core/salamandre/base/pocket-id/kustomization.yaml
  kubernetes/core/salamandre/base/pocket-id/namespace.yaml
  kubernetes/core/salamandre/base/pocket-id/readme.md
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/app/helm-repository.yaml
  kubernetes/core/salamandre/base/zitadel/app/kustomization.yaml
  kubernetes/core/salamandre/base/zitadel/app/secrets.yaml
  kubernetes/core/salamandre/base/zitadel/readme.md
  kubernetes/core/salamandre/dev/kustomization.yaml
  kubernetes/core/salamandre/production/kustomization.yaml
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/dev/nextcloud/app/helm-release-patch.yaml
Labels: cluster/salamandre, cluster/baku

fix(pocket-id): correct probe
  kubernetes/core/salamandre/base/pocket-id/app/statefulset.yaml
Labels: cluster/salamandre

fix(openbao): correctly configure baku access
  ansible/roles/openbao/tasks/auth_kubernetes.yaml
  kubernetes/core/baku/base/external-secrets/app/secret-store.yaml
Labels: cluster/baku

fix(ansible): fallback default n updatable
  ansible/roles/openbao_secret/tasks/main.yaml
Labels: none

fix(ansible): prevent fail on rerun
  ansible/roles/openbao_oidc/tasks/main.yaml
Labels: none

fix(openbao): correctly configure oidc access
  ansible/roles/openbao_oidc/tasks/main.yaml
Labels: none

docs(installation): rename vault to openbao
  docs/installation/post-installation.md
Labels: none

fix(monitoring): increase storage size
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

fix(reloader): increase resources limit
  kubernetes/core/common/base/kube-system/reloader/helm-release.yaml
Labels: none

fix(external-secrets): increase resources limit
  kubernetes/core/common/base/external-secrets/app/helm-release.yaml
Labels: none

chore(minio): ignore renove due to maintenance mode
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
Labels: none

chore(backup): use generated image
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

refactor(backup): migrate script to cronjob
  .github/renovate/groups.json5
  .github/workflows/build-backup-image.yaml
  ansible/backup.yaml
  ansible/roles/backup/defaults/main.yaml
  ansible/roles/backup/files/scripts/backup.sh
  ansible/roles/backup/files/scripts/restore.sh
  ansible/roles/backup/files/snapshot_template.yaml
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
  ansible/roles/backup/templates/mc_config.json.j2
  ansible/site.yaml
  docs/references/backup-restore.md
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
  kubernetes/services/salamandre/base/backup/app/rbac.yaml
  kubernetes/services/salamandre/base/backup/app/secret.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
  kubernetes/services/salamandre/base/backup/kustomization.yaml
  kubernetes/services/salamandre/base/backup/namespace.yaml
  kubernetes/services/salamandre/base/backup/readme.md
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/pvc.yaml
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
  kubernetes/services/salamandre/dev/backup/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
Labels: cluster/salamandre

feat(backup): add possibility to use custom date
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  scripts/manual-backup.sh
Labels: cluster/salamandre

fix(ansible): add missing backup secret sync
  ansible/tasks/s_apps/secrets_sync.yaml
Labels: none

fix(backup): correctly suspend conjob
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
Labels: cluster/salamandre

fix(backup): right create webhook alert
  kubernetes/services/salamandre/base/backup/app/secret.yaml
Labels: cluster/salamandre

fix(backup): right label value
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/pvc.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/pvc.yaml
Labels: cluster/salamandre

fix(backup): correct a bunch of errors
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): add CA on dev env
  kubernetes/services/salamandre/dev/backup/app/ca-tls.yaml
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
  kubernetes/services/salamandre/dev/backup/app/kustomization.yaml
Labels: cluster/salamandre

chore(backup): remove lint warn on notification function
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): allow run even if no webhook defined
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

chore(backup): reduce history and backoff on dev
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
Labels: cluster/salamandre

docs(backup): add database command
  docs/references/backup-restore.md
Labels: none

fix(backup): use right restart policy
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

fix(backup): disable flux substitute on script
  kubernetes/services/salamandre/base/backup/app/kustomization.yaml
Labels: cluster/salamandre

docs(backup): remove useless troubleshooting
  docs/references/backup-restore.md
Labels: none

chore(backup): quiet commands
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): allow error on delete snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): custom handle for database
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): correctly handle find snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre
