Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

feat(backup): notify if not enough space
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

refactor(backup): make script more robust (#92)
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/ks.yaml
Labels: cluster/salamandre

chore(monitoring): update rules
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/kustomization.yaml
Labels: cluster/baku

chore(backup): define timezone
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

chore(monitoring): increase threshold to log slow query
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

chore(monitoring): tweak vmagent cpu
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(monitoring): increase cpu limit for vmalert
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

feat(wallabag): restore deployment
  .github/renovate.json5
  ansible/tasks/s_apps/secrets_sync.yaml
  kubernetes/services/salamandre/base/wallabag/app/dnsendpoint.yaml
  kubernetes/services/salamandre/base/wallabag/app/helm-release.yaml
  kubernetes/services/salamandre/base/wallabag/app/helm-repository.yaml
  kubernetes/services/salamandre/base/wallabag/app/kustomization.yaml
  kubernetes/services/salamandre/base/wallabag/app/secret.yaml
  kubernetes/services/salamandre/base/wallabag/configmaps.yaml
  kubernetes/services/salamandre/base/wallabag/deployment.yaml
  kubernetes/services/salamandre/base/wallabag/ingress.yaml
  kubernetes/services/salamandre/base/wallabag/ks.yaml
  kubernetes/services/salamandre/base/wallabag/readme.md
  kubernetes/services/salamandre/base/wallabag/service.yaml
  kubernetes/services/salamandre/base/wallabag/serviceaccount.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
Labels: cluster/salamandre

fix(nextcloud): increase resources to prevent OOMKILL
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

fix(baku): adjust minio and traefik resources
  kubernetes/core/common/base/traefik/app/helm-release.yaml
  kubernetes/services/baku/base/minio/app/helm-release.yaml
Labels: cluster/baku

fix: prevent crashes when IPv6 module disabled
  ansible/roles/common/templates/k3s_config.j2.yaml
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

chore(flux): change git repository settings to prevent network issue
  kubernetes/base/common/flux-system/gotk-sync.yaml
  kubernetes/crds/common/external-secrets/source.yaml
  kubernetes/crds/common/external-snapshotter/source.yaml
  kubernetes/crds/common/traefik/source.yaml
  kubernetes/crds/salamandre/cloudnative-pg/source.yaml
  kubernetes/crds/salamandre/external-dns/source.yaml
Labels: cluster/salamandre

fix(dev): adjust resources usage
  ansible/inventories/dev/host_vars/localhost.yaml
  kubernetes/services/baku/dev/minio/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
Labels: cluster/salamandre, cluster/baku

fix(salamandre): create backup log directory
  ansible/roles/common/tasks/main.yaml
Labels: none

fix(ansible): rely on server command output for installed version
  ansible/roles/common/tasks/k3s.yaml
Labels: none

refactor(ansible): merge kubeconfigs
  ansible/group_vars/all.yaml
  ansible/k3s_bootstrap.yaml
  ansible/k3s_configure.yaml
  ansible/roles/apps_zitadel/tasks/auth.yaml
  ansible/roles/apps_zitadel/tasks/main.yaml
  ansible/roles/common/tasks/k3s.yaml
  ansible/roles/database_access/tasks/main.yaml
  ansible/roles/openbao/tasks/auth.yaml
  ansible/roles/openbao/tasks/auth_kubernetes.yaml
  ansible/roles/openbao/tasks/main.yaml
  ansible/roles/openbao/tasks/seal_key.yaml
  ansible/setup.yaml
  ansible/tasks/b_apps/secrets_sync.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
  ansible/tasks/s_forgejo_runner.yaml
  docs/installation/development-sandbox.md
  scripts/manual-backup.sh
Labels: none

refactor(backup): replace mc by rclone
  kubernetes/services/salamandre/base/backup/app/Dockerfile
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/backup/app/secret.yaml
Labels: cluster/salamandre

chore(backup): update docker image
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

feat(backup): add attempt on log and notification
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

fix(wallabag): correct IPv6 crash
  kubernetes/services/salamandre/base/wallabag/app/configs/nginx.conf
  kubernetes/services/salamandre/base/wallabag/app/helm-release.yaml
  kubernetes/services/salamandre/base/wallabag/app/kustomization.yaml
Labels: cluster/salamandre

fix(backup): remove limitation on pvc storage class
  docs/references/backup-restore.md
  kubernetes/services/salamandre/base/backup/app/backup.sh
  kubernetes/services/salamandre/base/backup/readme.md
Labels: cluster/salamandre

feat(baku): replace minio by seaweedfs
  .github/renovate/changelogs.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  README.md
  ansible/host_vars/salamandre.yaml
  ansible/tasks/b_apps/secrets.yaml
  ansible/tasks/b_apps/secrets_sync.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
  ansible/tasks/s_core_apps_secrets.yaml
  docs/installation/post-installation.md
  docs/references/roadmap.md
  kubernetes/core/baku/base/traefik/app/helm-release-patch.yaml
  kubernetes/services/baku/base/minio/app/helm-release.yaml
  kubernetes/services/baku/base/minio/app/helm-repository.yaml
  kubernetes/services/baku/base/minio/app/secrets.yaml
  kubernetes/services/baku/base/minio/readme.md
  kubernetes/services/baku/base/monitoring/grafana/dashboards/minio.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/seaweedfs.json
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-repository.yaml
  kubernetes/services/baku/base/seaweedfs/app/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/app/secrets.yaml
  kubernetes/services/baku/base/seaweedfs/ks.yaml
  kubernetes/services/baku/base/seaweedfs/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/namespace.yaml
  kubernetes/services/baku/base/seaweedfs/readme.md
  kubernetes/services/baku/dev/kustomization.yaml
  kubernetes/services/baku/dev/minio/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/kustomization.yaml
  kubernetes/services/baku/dev/seaweedfs/kustomization.yaml
  kubernetes/services/baku/production/kustomization.yaml
  scripts/gen-credentials.sh
Labels: cluster/baku

feat(baku): replace minio by seaweedfs (#104)
  .github/renovate/changelogs.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  README.md
  ansible/host_vars/salamandre.yaml
  ansible/tasks/b_apps/secrets.yaml
  ansible/tasks/b_apps/secrets_sync.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
  ansible/tasks/s_core_apps_secrets.yaml
  docs/installation/post-installation.md
  docs/references/roadmap.md
  kubernetes/core/baku/base/traefik/app/helm-release-patch.yaml
  kubernetes/services/baku/base/minio/app/helm-release.yaml
  kubernetes/services/baku/base/minio/app/helm-repository.yaml
  kubernetes/services/baku/base/minio/app/secrets.yaml
  kubernetes/services/baku/base/minio/readme.md
  kubernetes/services/baku/base/monitoring/grafana/dashboards/minio.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/seaweedfs.json
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-repository.yaml
  kubernetes/services/baku/base/seaweedfs/app/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/app/secrets.yaml
  kubernetes/services/baku/base/seaweedfs/ks.yaml
  kubernetes/services/baku/base/seaweedfs/kustomization.yaml
  kubernetes/services/baku/base/seaweedfs/namespace.yaml
  kubernetes/services/baku/base/seaweedfs/readme.md
  kubernetes/services/baku/dev/kustomization.yaml
  kubernetes/services/baku/dev/minio/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/kustomization.yaml
  kubernetes/services/baku/dev/seaweedfs/kustomization.yaml
  kubernetes/services/baku/production/kustomization.yaml
  scripts/gen-credentials.sh
Labels: cluster/baku

docs(installation): specify an command to retrieve disk id
  docs/installation/production/prerequisites.md
Labels: none

chore(backup): remove useless s3 sub folder
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
Labels: cluster/salamandre

chore(seaweedfs): adjust resources
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
  kubernetes/services/baku/dev/seaweedfs/app/helm-release-patch.yaml
Labels: cluster/baku

fix(monitoring): deploy seaweedfs dashboard
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
Labels: cluster/baku

refactor: migrate to mise
  .gitignore
  .mise/tasks/_lib.sh
  .mise/tasks/backup/create
  .mise/tasks/cleanup
  .mise/tasks/cluster/bootstrap
  .mise/tasks/cluster/configure
  .mise/tasks/cluster/deploy
  .mise/tasks/cluster/nuke
  .mise/tasks/credentials/generate
  .mise/tasks/credentials/get
  .mise/tasks/ensure-dirs
  .mise/tasks/node/setup
  .mise/tasks/setup
  .mise/tasks/test/kustomize
  .mise/tasks/vm/create
  .mise/tasks/vm/destroy
  .mise/tasks/vm/start
  .mise/tasks/vm/stop
  .vscode/settings.json
  Makefile
  ansible/roles/apps_zitadel/tasks/auth.yaml
  ansible/site.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  docs/installation/production/deployment.md
  docs/installation/production/prerequisites.md
  docs/references/architecture/repository.md
  docs/references/backup-restore.md
  docs/references/commands.md
  docs/references/updates.md
  mise.toml
  scripts/_ansible-vm.sh
  scripts/_ansible.sh
  scripts/manual-backup.sh
Labels: none

fix(ansible): use right context for wait node
  ansible/roles/common/tasks/k3s.yaml
Labels: none

ci(crd): use right sha for diff
  .github/workflows/update-crds.yaml
Labels: none

ci(crd): correctly handle multiple files
  .github/workflows/update-crds.yaml
Labels: none

ci(crd): make script more robust
  scripts/update-crds.sh
Labels: none

fix(nextcloud): correctly handle upgrade
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

ci(renovate): correctly handle seaweedfs version
  .github/renovate/changelogs.json5
Labels: none

ci(renovate): schedule update every 3 month
  .github/renovate.json5
Labels: none

fix(monitoring): remove useless cpu limit
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

chore(monitoring): tweak vmagent ram
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

chore(deps): update vaultwarden (1.35.7 → 1.36.0)
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
Labels: cluster/salamandre

chore(secrets): reduce interval of refresh
  kubernetes/core/baku/base/traefik/app/tls.yaml
  kubernetes/core/salamandre/base/zitadel/app/secrets.yaml
  kubernetes/core/salamandre/dev/database/cluster/ca-tls.yaml
  kubernetes/core/salamandre/production/cert-manager/ovh/secret.yaml
  kubernetes/core/salamandre/production/external-dns/app/secret.yaml
  kubernetes/services/baku/base/monitoring/grafana/secrets.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/secret.yaml
  kubernetes/services/baku/base/seaweedfs/app/secrets.yaml
  kubernetes/services/baku/dev/monitoring/grafana/ca-tls.yaml
  kubernetes/services/salamandre/base/backup/app/secret.yaml
  kubernetes/services/salamandre/base/forgejo/app/secrets.yaml
  kubernetes/services/salamandre/base/forgejo/runner/secret.yaml
  kubernetes/services/salamandre/base/monitoring/vm-stack/secret.yaml
  kubernetes/services/salamandre/base/nextcloud/app/secrets.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/secrets.yaml
  kubernetes/services/salamandre/base/wallabag/app/secret.yaml
  kubernetes/services/salamandre/dev/backup/app/ca-tls.yaml
  kubernetes/services/salamandre/dev/forgejo/app/ca-tls.yaml
  kubernetes/services/salamandre/dev/monitoring/vm-stack/ca-tls.yaml
  kubernetes/services/salamandre/dev/nextcloud/app/ca-tls.yaml
Labels: cluster/salamandre, cluster/baku

perf(zitadel): reduce hashing cost
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre
