Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

chore(grafana): update dashboards
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_namespaces.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_pods.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/volumes_cluster.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/minio.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/nodeexporter.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/traefik.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmagent.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmalert.json
Labels: cluster/baku

refactor(nextcloud): use imaginary and collabora from app chart
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/configmap.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/ingress.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/kustomization.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/service.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/serviceaccount.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/kustomization.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/service.yaml
  kubernetes/services/salamandre/base/nextcloud/ks.yaml
Labels: cluster/salamandre

chore(grafana): update dashboards
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_namespaces.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_pods.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/volumes_cluster.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/minio.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/nodeexporter.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/traefik.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmagent.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmalert.json
Labels: cluster/baku

refactor(nextcloud): use imaginary and collabora from app chart
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/configmap.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/ingress.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/kustomization.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/service.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/serviceaccount.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/deployment.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/kustomization.yaml
  kubernetes/services/salamandre/base/nextcloud/imaginary/service.yaml
  kubernetes/services/salamandre/base/nextcloud/ks.yaml
Labels: cluster/salamandre

chore(grafana): remove useless variables
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
Labels: cluster/baku

fix(nextcloud): right url for collabora
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre

feat(coredns): rewrite cloud url
  kubernetes/config/salamandre/kube-system/coredns-config.yaml
Labels: cluster/salamandre

fix(flux): replace variables in config files
  kubernetes/base/common/config.yaml
Labels: none

fix(forgejo): adjust resources to prevent kill
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
Labels: cluster/salamandre

fix(forgejo): adjust resources to prevent kill of runner
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
Labels: cluster/salamandre

chore(forgejo): update config to last version
  kubernetes/services/salamandre/base/forgejo/runner/config.yaml
Labels: cluster/salamandre

fix(forgejo): correctly config docker dind and default image
  kubernetes/services/salamandre/base/forgejo/runner/config.yaml
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
Labels: cluster/salamandre

fix(forgejo): fixing docker issue in runner
  kubernetes/services/salamandre/base/forgejo/runner/config.yaml
Labels: cluster/salamandre

feat(cert-manager): add le issuers
  kubernetes/core/salamandre/base/cert-manager/app/issuers.yaml
  kubernetes/core/salamandre/base/cert-manager/app/kustomization.yaml
Labels: cluster/salamandre

fix(deps): correct libvirt commands
  Makefile
  ansible/requirements.txt
Labels: none

fix: remove letsencrypt issuer in development
  kubernetes/core/salamandre/production/cert-manager/app/issuers.yaml
  kubernetes/core/salamandre/production/cert-manager/app/kustomization.yaml
  kubernetes/core/salamandre/production/cert-manager/kustomization.yaml
Labels: cluster/salamandre

fix: migrate external-secrets.io CRDs
  ansible/roles/apps_zitadel/tasks/main.yaml
  ansible/tasks/b_apps/secrets_sync.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
  kubernetes/core/baku/base/external-secrets/app/vault-store.yaml
  kubernetes/core/baku/base/traefik/app/tls.yaml
  kubernetes/core/salamandre/base/database/cluster/secrets.yaml
  kubernetes/core/salamandre/base/external-secrets/app/vault-store.yaml
  kubernetes/core/salamandre/base/zitadel/app/secrets.yaml
  kubernetes/core/salamandre/dev/database/cluster/ca-tls.yaml
  kubernetes/core/salamandre/production/cert-manager/ovh/secret.yaml
  kubernetes/core/salamandre/production/external-dns/app/secret.yaml
  kubernetes/services/baku/base/minio/app/secrets.yaml
  kubernetes/services/baku/base/monitoring/grafana/secrets.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/secret.yaml
  kubernetes/services/baku/dev/monitoring/grafana/ca-tls.yaml
  kubernetes/services/salamandre/base/forgejo/app/secrets.yaml
  kubernetes/services/salamandre/base/forgejo/runner/secret.yaml
  kubernetes/services/salamandre/base/monitoring/vm-stack/secret.yaml
  kubernetes/services/salamandre/base/nextcloud/app/secrets.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/secrets.yaml
  kubernetes/services/salamandre/base/wallabag/secret.yaml
  kubernetes/services/salamandre/dev/forgejo/app/ca-tls.yaml
  kubernetes/services/salamandre/dev/forgejo/app/secret-patch.yaml
  kubernetes/services/salamandre/dev/monitoring/vm-stack/ca-tls.yaml
  kubernetes/services/salamandre/dev/nextcloud/app/ca-tls.yaml
Labels: cluster/salamandre, cluster/baku

chore: wip backup
  ansible/roles/backup/files/scripts/backup.sh
Labels: none

chore: add extensions recommendations
  .vscode/extensions.json
Labels: none

docs: add documentation for troubleshooting
  docs/README.md
  docs/references/troubleshooting.md
Labels: none

chore: add make command to run k9s with VM kubeconfig
  Makefile
Labels: none

chore: improve KUBECONFIG documentation
  docs/installation/development-sandbox.md
Labels: none

chore: improve local development (#40)
  Makefile
  docs/installation/development-sandbox.md
Labels: none

docs: add documentation for troubleshooting (#39)
  docs/README.md
  docs/references/troubleshooting.md
Labels: none

fix(alertmanager): right configure receivers
  kubernetes/services/baku/base/monitoring/vm-stack/alertmanager.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

fix(crds): use better health check
  kubernetes/crds/common/external-secrets/crds.yaml
  kubernetes/crds/common/external-snapshotter/crds.yaml
  kubernetes/crds/common/traefik/crds.yaml
  kubernetes/crds/salamandre/cloudnative-pg/crds.yaml
  kubernetes/crds/salamandre/external-dns/crds.yaml
Labels: cluster/salamandre

fix(alertmanager): right configure receivers
  kubernetes/services/baku/base/monitoring/vm-stack/alertmanager.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

fix(alertmanager): right define external vm urls
  kubernetes/services/salamandre/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/salamandre

fix(crds): use better health check
  kubernetes/crds/common/external-secrets/crds.yaml
  kubernetes/crds/common/external-snapshotter/crds.yaml
  kubernetes/crds/common/traefik/crds.yaml
  kubernetes/crds/salamandre/cloudnative-pg/crds.yaml
  kubernetes/crds/salamandre/external-dns/crds.yaml
Labels: cluster/salamandre

fix(alertmanager): right define templates
  kubernetes/services/baku/base/monitoring/vm-stack/alertmanager.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/kustomization.yaml
Labels: cluster/baku

fix: make patches less restrictive
  ansible/roles/apps_zitadel/tasks/main.yaml
  ansible/tasks/b_apps/secrets_sync.yaml
  ansible/tasks/s_apps/secrets_sync.yaml
  kubernetes/services/salamandre/dev/nextcloud/app/kustomization.yaml
  kubernetes/services/salamandre/dev/vaultwarden/app/kustomization.yaml
Labels: cluster/salamandre

docs(readme): update ansible icon and url
  README.md
Labels: none

docs(roadmap): update it
  docs/references/roadmap.md
Labels: none

feat(flux): add alerts for resources errors
  ansible/k3s_bootstrap.yaml
  ansible/templates/flux_alert.yaml.j2
  kubernetes/base/baku/dev/kustomization.yaml
  kubernetes/base/baku/production/kustomization.yaml
  kubernetes/base/common/flux-system/alert.yaml
  kubernetes/base/common/flux-system/kustomization.yaml
  kubernetes/base/salamandre/dev/kustomization.yaml
  kubernetes/base/salamandre/production/kustomization.yaml
Labels: cluster/salamandre, cluster/baku

fix(monitoring): correctly modify alert rules
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-system-apiserver.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-system-kubelet.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/vmagent.yaml
Labels: cluster/baku

chore(monitoring): tweak interval of watchdog rule
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

refactor(monitoring): move watchdog to another channel
  ansible/group_vars/all.yaml
  ansible/k3s_bootstrap.yaml
  ansible/templates/flux_alert.yaml.j2
  ansible/templates/flux_vars.yaml.j2
  kubernetes/config/common/flux-system/cluster-secrets.example.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  scripts/gen-credentials.sh
Labels: cluster/baku

feat(ansible): limiting zfs arc
  ansible/inventories/production/host_vars/baku.yaml.tpl
  ansible/inventories/production/host_vars/salamandre.yaml.tpl
  ansible/roles/common/defaults/main.yaml
  ansible/roles/common/tasks/zfs.yaml
Labels: none

chore(git): ignore ansible extension files
  .gitignore
Labels: none

ci(renovate): separate kubernetes and ansible things
  .github/renovate/clusters.json5
Labels: none
