Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

perf(zitadel): remove the cpu limit
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
Labels: cluster/salamandre

refactor: migrate to mise
  .gitignore
  .mise/tasks/_lib.sh
  .mise/tasks/backup/create
  .mise/tasks/cleanup
  .mise/tasks/cluster/bootstrap
  .mise/tasks/cluster/configure
  .mise/tasks/cluster/deploy
  .mise/tasks/cluster/nuke
  .mise/tasks/credentials/generate
  .mise/tasks/credentials/get
  .mise/tasks/ensure-dirs
  .mise/tasks/node/setup
  .mise/tasks/setup
  .mise/tasks/test/kustomize
  .mise/tasks/vm/create
  .mise/tasks/vm/destroy
  .mise/tasks/vm/start
  .mise/tasks/vm/stop
  .vscode/settings.json
  Makefile
  ansible/roles/apps_zitadel/tasks/auth.yaml
  ansible/site.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  docs/installation/production/deployment.md
  docs/installation/production/prerequisites.md
  docs/references/architecture/repository.md
  docs/references/backup-restore.md
  docs/references/mise.md
  docs/references/updates.md
  mise.toml
  scripts/_ansible-vm.sh
  scripts/_ansible.sh
  scripts/manual-backup.sh
Labels: none

refactor: migrate to mise (#97)
  .gitignore
  .mise/tasks/_lib.sh
  .mise/tasks/backup/create
  .mise/tasks/cleanup
  .mise/tasks/cluster/bootstrap
  .mise/tasks/cluster/configure
  .mise/tasks/cluster/deploy
  .mise/tasks/cluster/nuke
  .mise/tasks/credentials/generate
  .mise/tasks/credentials/get
  .mise/tasks/ensure-dirs
  .mise/tasks/node/setup
  .mise/tasks/setup
  .mise/tasks/test/kustomize
  .mise/tasks/vm/create
  .mise/tasks/vm/destroy
  .mise/tasks/vm/start
  .mise/tasks/vm/stop
  .vscode/settings.json
  Makefile
  ansible/roles/apps_zitadel/tasks/auth.yaml
  ansible/site.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  docs/installation/production/deployment.md
  docs/installation/production/prerequisites.md
  docs/references/architecture/repository.md
  docs/references/backup-restore.md
  docs/references/mise.md
  docs/references/updates.md
  mise.toml
  scripts/_ansible-vm.sh
  scripts/_ansible.sh
  scripts/manual-backup.sh
Labels: none

ci(renovate): support mise
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: none

chore(monitoring): remove useless and high cardinality metrics
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

chore(monitoring): reduce metrics usage
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

chore(monitoring): reduce retention to 6 month
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

chore(deps): update vaultwarden (1.36.0 → 1.37.1)
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
Labels: cluster/salamandre

chore(vscode): remove useless extensions
  .vscode/extensions.json
Labels: none

chore(vscode): remove alerts on start
  .vscode/settings.json
Labels: none

fix(mise): allow run vm command with default argument
  .mise/tasks/_lib.sh
  .mise/tasks/cluster/bootstrap
  .mise/tasks/cluster/configure
  .mise/tasks/cluster/deploy
  .mise/tasks/cluster/nuke
  .mise/tasks/node/setup
  .mise/tasks/vm/create
  .mise/tasks/vm/destroy
  .mise/tasks/vm/start
  .mise/tasks/vm/stop
Labels: none

fix(mise): fallback fo not-found state if not exist
  .mise/tasks/vm/start
  .mise/tasks/vm/stop
Labels: none

fix(mise): make some tasks interactive to be able to ask sudo password
  .mise/tasks/cluster/deploy
  .mise/tasks/vm/create
  .mise/tasks/vm/destroy
  .mise/tasks/vm/start
Labels: none

chore(mise): make cd after ansible run quiet
  .mise/tasks/_lib.sh
Labels: none

feat(dev): use user-specified public ssh key for vms
  .mise/tasks/vm/create
  ansible/inventories/dev/host_vars/localhost.yaml
Labels: none

fix(ansible): ensure openbao namespace exist
  ansible/roles/openbao/tasks/main.yaml
Labels: none

fix(ansible): wait longer for postgres
  ansible/k3s_configure.yaml
Labels: none

chore(continue): add rules
  .continue/rules/architecture.md
  .continue/rules/insructions.md
  .continueignore
Labels: none

chore(deps): update vaultwarden (1.37.1 → 1.37.2)
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
Labels: cluster/salamandre

chore(deps): update vaultwarden (1.37.1 → 1.37.2)
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
Labels: cluster/salamandre

fx(monitoring): remove broken rules
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-scheduler.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
Labels: cluster/baku

fix(monitoring): add back metrics_path label
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(backup): keep same name for snapshot
  kubernetes/core/salamandre/base/database/cluster/scheduledbackup.yaml
Labels: cluster/salamandre

chore(database): disable scheduled backup
  kubernetes/core/salamandre/base/database/cluster/kustomization.yaml
Labels: cluster/salamandre

fix(backup): use specific method to handle database retention
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): correctly fallback force full variable
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

chore(backup): fix typo for label variable
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(backup): stabilize grep on searching zfs snapshot
  kubernetes/services/salamandre/base/backup/app/backup.sh
Labels: cluster/salamandre

fix(dns): prevent api spam
  kubernetes/core/salamandre/production/external-dns/app/helm-release.yaml
Labels: cluster/salamandre

doc(victoria-metrics): document the update of crds
  docs/references/updates.md
Labels: none

fix(seaweedfs): correctly bind admin ui to backend
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
Labels: cluster/baku

chore(deps): update all uv
  mise.toml
Labels: none

fix(monitoring): update chart values
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

fix(monitoring): correctly handle kube metrics
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/kustomization.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-availability.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-burnrate.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-histogram.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-system-apiserver.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

fix(monitoring): update scrape with new formats
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(monitoring): correctly deploy and prevent alert errors (#119)
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/kustomization.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-availability.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-burnrate.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kube-apiserver-histogram.rules.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kubernetes-system-apiserver.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

fix(monitoring): remove duplicate apiserver and kubelet metrics
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

chore(apps): apply krr resources recommendations
  kubernetes/base/common/flux-system/gotk-components.yaml
  kubernetes/core/common/base/external-secrets/app/helm-release.yaml
  kubernetes/core/common/base/kube-system/reloader/helm-release.yaml
  kubernetes/core/common/base/kube-system/zfs-localpv/helm-release.yaml
  kubernetes/core/common/base/traefik/app/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/app/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/helm-release.yaml
  kubernetes/core/salamandre/base/database/cluster/barman.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/openbao/app/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
  kubernetes/core/salamandre/production/cert-manager/ovh/helm-release.yaml
  kubernetes/core/salamandre/production/external-dns/app/helm-release.yaml
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
  kubernetes/services/baku/dev/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
  kubernetes/services/salamandre/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
  kubernetes/services/salamandre/base/wallabag/app/helm-release.yaml
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
Labels: cluster/salamandre, cluster/baku

chore(apps): apply krr resources recommendations (#121)
  kubernetes/base/common/flux-system/gotk-components.yaml
  kubernetes/core/common/base/external-secrets/app/helm-release.yaml
  kubernetes/core/common/base/kube-system/reloader/helm-release.yaml
  kubernetes/core/common/base/kube-system/zfs-localpv/helm-release.yaml
  kubernetes/core/common/base/traefik/app/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/app/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/helm-release.yaml
  kubernetes/core/salamandre/base/database/app/plugin-barman/helm-release.yaml
  kubernetes/core/salamandre/base/database/cluster/barman.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/openbao/app/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/app/helm-release.yaml
  kubernetes/core/salamandre/production/cert-manager/ovh/helm-release.yaml
  kubernetes/core/salamandre/production/external-dns/app/helm-release.yaml
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/base/seaweedfs/app/helm-release.yaml
  kubernetes/services/baku/dev/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/baku/dev/seaweedfs/app/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
  kubernetes/services/salamandre/base/backup/app/cronjob.yaml
  kubernetes/services/salamandre/base/forgejo/app/helm-release.yaml
  kubernetes/services/salamandre/base/forgejo/runner/deployment.yaml
  kubernetes/services/salamandre/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
  kubernetes/services/salamandre/base/vaultwarden/app/deployment.yaml
  kubernetes/services/salamandre/base/wallabag/app/helm-release.yaml
  kubernetes/services/salamandre/dev/backup/app/cronjob-patch.yaml
Labels: cluster/salamandre, cluster/baku

chore(monitoring): define grafana url for alerts
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"
