Repository sebtiz13/homecluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: cluster/salamandre, cluster/baku

.github/labeler.yaml:

# Clusters
cluster/salamandre:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/salamandre/**/*"
cluster/baku:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/baku/**/*"

fix(monitoring): correctly pass ca cert
  kubernetes/services/salamandre/dev/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/salamandre

fix(monitoring): disable mincore
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

feat(monitoring): add overview graph
  kubernetes/services/baku/base/monitoring/grafana/dashboards/overview.json
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
Labels: cluster/baku

chore(apps): tweak resources from krr recommendations
  kubernetes/base/common/flux-system/gotk-components.yaml
  kubernetes/core/common/base/external-secrets/app/helm-release.yaml
  kubernetes/core/common/base/kube-system/reloader/helm-release.yaml
  kubernetes/core/salamandre/base/cert-manager/app/helm-release.yaml
  kubernetes/core/salamandre/base/database/cluster/cnpg-cluster.yaml
  kubernetes/core/salamandre/production/external-dns/app/helm-release.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/app/helm-release.yaml
Labels: cluster/salamandre, cluster/baku

chore(monitoring): drop high cardinality metrics and label
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(monitoring): update grafana he;m repository
  kubernetes/services/baku/base/monitoring/grafana/helm-repository.yaml
Labels: cluster/baku

chore(monitoring): drop useless grafana scrap
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
  kubernetes/services/baku/base/monitoring/grafana/service-scrape.yaml
Labels: cluster/baku

chore(monitoring): remove useless metrics and duplicates
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

chore(monitoring): remove useless alerts
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

fix(monitoring): remove invalid alert
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

fix(monitoring): add node label for node-exporter
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: none

fix(monitoring): support multi node
  kubernetes/services/baku/base/monitoring/grafana/dashboards/overview.json
Labels: cluster/baku

fix(monitoring): reduce retention period
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

fix(monitoring): disable invalid memory overcommit alert
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

chore(monitoring): reformat alerts
  kubernetes/services/baku/base/monitoring/vm-stack/helm-release-patch.yaml
Labels: cluster/baku

feat(monitoring): add flux metrics to grafana
  kubernetes/base/common/flux-system/alert.yaml
  kubernetes/base/common/flux-system/pod-monitor.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/kustomization.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/flux.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

feat(monitoring): add flux metrics to grafana
  kubernetes/base/common/flux-system/alert.yaml
  kubernetes/base/common/flux-system/pod-monitor.yaml
  kubernetes/services/baku/base/monitoring/grafana/dashboards/flux.json
  kubernetes/services/baku/base/monitoring/vm-stack/kustomization.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/flux.yaml
  kubernetes/services/baku/base/monitoring/vm-stack/rules/kustomization.yaml
  kubernetes/services/common/base/monitoring/vm-stack/helm-release.yaml
Labels: cluster/baku

fix(monitoring): end implement support of multi node on dashboards
  kubernetes/services/baku/base/monitoring/grafana/dashboards/nodeexporter.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/overview.json
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
Labels: cluster/baku
